# Node modules
node_modules/

# Arquivos de ambiente com dados sensíveis (ex: senhas, URIs)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build (se você usar algum)
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# Debuggers
.vscode/
.idea/

# Pastas temporárias
tmp/
temp/

# Cobertura de testes
coverage/

# Arquivos do Docker (se usar)
docker-compose.override.yml
